.add-user-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & &_input {
    margin: 1rem 0;
    min-width: 400px;
  }
}
